
provider "vsphere" {
  vsphere_server = local.vsphere_server
  user           = local.vsphere_user
  password       = local.vsphere_password
  allow_unverified_ssl = true
}

#################################################################

data "vsphere_datacenter" "dc" {
  name           = local.datacenter
}

data "vsphere_host" "host" {
  name           = local.cluster
  datacenter_id  = data.vsphere_datacenter.dc.id
}

data "vsphere_datastore" "datastore" {
  for_each = local.vms
  name           = each.value.datastore
  datacenter_id  = data.vsphere_datacenter.dc.id
}

data "vsphere_network" "network" {
  for_each = local.vms
  name           = each.value.network
  datacenter_id  = data.vsphere_datacenter.dc.id
}

data "vsphere_virtual_machine" "template" {
  for_each = local.vms
  name           = "/${local.datacenter}/vm/${each.value.template}"
  datacenter_id  = data.vsphere_datacenter.dc.id
}

##################################################################

resource "vsphere_virtual_machine" "vm" {

  for_each = local.vms

  name             = each.value.name
  resource_pool_id = data.vsphere_host.host.resource_pool_id
  datastore_id     = data.vsphere_datastore.datastore[each.value.name]["id"]

  num_cpus = each.value.cpu_count
  memory   = each.value.memory

  network_interface {
    network_id = data.vsphere_network.network.id
  }

  wait_for_guest_net_timeout = -1
  wait_for_guest_ip_timeout  = 1

  disk {
    label            = "disk0"
    thin_provisioned = true
    size             = each.value.disk_size
  }

  guest_id = "ubuntu64Guest"

  clone {
    template_uuid = data.vsphere_virtual_machine.template[each.value.name]["id"]
  }
  provisioner "file" {
    source = "/home/ansible/.ssh/id_rsa.pub"
    destination = "/tmp/id_rsa.pub"
  }
  provisioner "remote-exec" {
    inline = [
      "sudo hostnamectl set-hostname ${each.value.name}",
      "sudo sed -i 's/${each.value.template}/${each.value.name}/g' /etc/hosts",
      "sudo pkill dhclient && sudo /sbin/dhclient -4",
      "mkdir /home/{{tf_packer_init_ssh_username}}/.ssh && touch /home/{{tf_packer_init_ssh_username}}/.ssh/authorized_keys",
      "chmod 700 /home/{{tf_packer_init_ssh_username}}/.ssh && chmod 600 /home/{{tf_packer_init_ssh_username}}/.ssh/authorized_keys",
      "cat /tmp/id_rsa.pub >> /home/{{tf_packer_init_ssh_username}}/.ssh/authorized_keys",
    ]
  }
  connection {
    type = "ssh"
    host = "${self.guest_ip_addresses[0]}"
    user = "{{tf_packer_init_ssh_username}}"
    password = "{{tf_packer_init_ssh_password}}"
    port = "22"
    agent = false
    }
}

##################################################################

output "vm_ip" {
  value = [
    [for vm in vsphere_virtual_machine.vm : vm.name],
    [for vm in vsphere_virtual_machine.vm : vm.guest_ip_addresses[0]]
  ]
}
