# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US

# Keyboard selection.
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

# Any hostname and domain names assigned from dhcp take precedence over
# values set here. However, setting the values still prevents the questions
# from being shown, even if values come from dhcp.
d-i netcfg/get_hostname string {{tf_packer_debian11_name}}
d-i netcfg/get_domain string

choose-mirror-bin mirror/http/proxy string

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

### Mirror settings
# If you select ftp, the mirror/country string does not need to be set.
d-i mirror/country string manual
d-i mirror/http/directory string /debian
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/proxy string

d-i partman-auto/disk string /dev/sda
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-auto/method string lvm
d-i partman-auto-lvm/new_vg_name string primary
d-i partman-auto-lvm/guided_size string max
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic

### Account setup
d-i passwd/user-fullname string {{tf_packer_init_ssh_username}}
d-i passwd/user-uid string 1000
d-i passwd/user-password password {{tf_packer_init_ssh_password}}
d-i passwd/user-password-again password {{tf_packer_init_ssh_password}}
d-i passwd/username string {{tf_packer_init_ssh_username}}
d-i passwd/root-login boolean false

# The installer will warn about weak passwords. If you are sure you know
# what you're doing and want to override it, uncomment this.
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

apt-cdrom-setup apt-setup/cdrom/set-first boolean false
apt-mirror-setup apt-setup/use_mirror boolean true
popularity-contest popularity-contest/participate boolean false

### Package selection
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo wget curl unzip gnupg2 nfs-common open-vm-tools {{tf_packer_debian11_addition_pkgs}}
d-i pkgsel/install-language-support boolean false

# disable automatic package updates
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade

### Preseeding other packages
#### Advanced options
d-i preseed/late_command string \
    echo '{{tf_packer_init_ssh_username}} ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/{{tf_packer_init_ssh_username}} ; \
    in-target chmod 440 /etc/sudoers.d/{{tf_packer_init_ssh_username}}

