vsphere_server = "{{tf_vsphere_server}}"
vsphere_user = "{{tf_vsphere_user}}"
vsphere_password = "{{tf_vsphere_password}}"
datacenter = "{{tf_datacenter}}"
{% if tf_cluster is defined and tf_cluster|length %}
cluster = "{{tf_cluster}}"
{% else %}
cluster = "{{tf_host}}"
{% endif %}
datastore = "{{tf_packer_dst_datastore}}"
network_name = "{{tf_packer_dst_network}}"
