locals {
  vsphere_server = vault("{{vault_engine_name}}/cloud", "tf_vsphere_server")
  vsphere_user = vault("{{vault_engine_name}}/cloud", "tf_vsphere_user")
  vsphere_password = vault("{{vault_engine_name}}/cloud", "tf_vsphere_password")
  datacenter = vault("{{vault_engine_name}}/cloud", "tf_datacenter")
{% if tf_cluster is defined and tf_cluster|length %}
  cluster = vault("{{vault_engine_name}}/cloud", "tf_cluster")
{% else %}
  cluster = vault("{{vault_engine_name}}/cloud", "tf_host")
{% endif %}
  datastore = vault("{{vault_engine_name}}/config", "tf_packer_dst_datastore")
  network_name = vault("{{vault_engine_name}}/config", "tf_packer_dst_network")
}
